/* ส่วนของหน้าล็อคอิน */
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0; 
}

.logo {
    position: relative; /* ต้องกำหนด position เป็น relative หรือ absolute เพื่อให้ z-index ทำงานได้ */
    z-index: 4; /* ค่า z-index ที่สูงกว่าส่วนอื่น */
}

.logo img {
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
.name{
    position: relative;
    text-align: center;
    color: #fa9939  ;
    margin: -100px;
    padding: 70px;
    font-size: 20px;
    z-index: 99;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* ต้องกำหนด position เป็น relative หรือ absolute เพื่อให้ z-index ทำงานได้ */
    z-index: 998;
    top: -270px;
    margin: 15rem;
}

.button a{
    position: relative;
    background: #0c0c0c;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.button a:hover{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

.button a:before{
    content: '';
    position: absolute;
    inset:  2px;
    background: #37426e;
}

.button a span{
    position: relative;
    z-index: 5;
}

section {
    position: relative;
    width: 100% ;
    height: 100vh;
    background: #001f3d;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

section .row{

    position: relative;
    top : -260%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
    z-index: 1;
}

i {
    color: rgba(11, 107, 197, 0.5);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: pointer; /* เปลี่ยนจาก default เป็น pointer เพื่อให้สามารถคลิกได้ */
    z-index: 9999; /* ให้ z-index สูงกว่าทุกส่วนอื่นๆ */
    pointer-events: auto; /* ให้ไอคอนรับการคลิกได้ */
}

i:hover{
    transition: 0s;
    color: #fa9939;
    text-shadow: 0 0 120px rgb(0, 204, 255);
}


section .row div{
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

section .row div:nth-child(2){
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate1
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
@keyframes animate2
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-200%);
    }
}
section .row:nth-child(even) div{
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

section .row:nth-child(even) div:nth-child(2){
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate3
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
@keyframes animate4
{
    0%
    {
        transform: translateX(-200%);
    }
    100%
    {
        transform: translateX(0%);
    }
}






/* ******************************************  */